#config-overlay,
#set-players-alert-overlay {
    text-align: center;
}

.config-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;

}

.config-form input {
    font: inherit;
    margin-bottom: 1rem;
    padding: 0.35rem;
    border: 1px solid rgb(185, 185, 185);
    width: 15rem;
}

.error label {
    color: rgb(166, 0, 0);
}

.error input {
    border-color: rgb(166, 0, 0);
    color: rgb(166, 0, 0);
    background-color: rgb(254, 164, 164);
}


#game-config {
    width: 90%;
    max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
}

#game-config ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#game-config li {
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: rgb(204, 232, 223);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

#game-config h2 {
    font-size: 1rem;
    margin: 0.5rem 0;
}

#game-config h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: rgb(26, 93, 71);
}

.player-symbol {
    font-size: 3rem;
    margin: 0.5rem 0;
    font-weight: bold;
    color: rgb(41, 46, 44);
}