<%- include('includes/head.ejs', { title: 'Profile' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/posts.css">
  </head>
  <body>
    <%- include("includes/header.ejs") %>
    <main>
      <h1>Your Profile</h1>
      <section>
        <h2>Create a New Post</h2>
          <form action="/posts" method="POST">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <div class="form-control">
              <label for="title">Title</label>
              <input type="text" id="title" name="title" required />
            </div>
            <div class="form-control">
              <label for="content">Content</label>
              <textarea name="content" id="content" rows="6" required></textarea>
            </div>
            <button class="btn">Save</button>
          </form>
      </section>
      <section>
        <h2>All Blog Posts</h2>
        <% if (!posts || posts.length === 0) { %>
          <p>Could not find any posts. You need to first create some!</p>
        <% } else { %>
          <ul id="posts-list">
            <% for (const post of posts) { %>
              <%- include('includes/post-item', { title: post.title, postId: post._id }) %>
            <% } %>
          </ul>
        <% } %>
      </section>
    </main>
  </body>
</html>
